/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Modern+Antiqua&family=Nova+Cut&family=Nova+Flat&family=Tangerine:wght@400;700&display=swap');

/*
Fonts

font-family: 'MedievalSharp', cursive;
font-family: 'Modern Antiqua', cursive;
font-family: 'Nova Cut', cursive;
font-family: 'Nova Flat', cursive;
font-family: 'Tangerine', cursive;
*/

/*Foundation*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body {
    box-sizing: border-box;
    background-color: #0B070D;
}

#newsBody{
    box-sizing: border-box;
    height:880px;
}


header{
    justify-self: center;
    align-self: flex-start;
    text-align: center;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border:2px solid black;
    background: #111;
    margin:0 auto;
}

#bodyMain{
    display:flex;
    flex-direction: column;
    height:80vh;
    max-height:100%;
    max-width:100%;
    grid-column:2;
    grid-row: 2;
}

footer{
    justify-self: center;
    align-self: flex-end;
    background-color: #111;
    text-align:center;
    display:flex;
    flex-direction:column;
    bottom:0;
    position:absolute;
    width:100%;
}


#footerContainer>p{
    font-size: .85rem;
    margin:0;
    padding:0;
}

object{
    height:100%;
    max-height:100%;
    margin:0;
    padding:0;
}

iframe{
    width: 100%;
    max-width: 100%;    
    height:680px;
    max-height:100%;
}

/* =================
Panels and Cards
================= */

.panel{
    background-color:#111;
    padding: 0.5rem;
    text-align: center;
    border: 2px solid black;
    width:99vw;
}

#newsBody>.panel{
    height: auto;
}

.card{
    background-color: #0B070D;
    padding:0.2em;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    border:4px solid #4285f4;
}

/* =================
Typography
================= */

h1 {
    font-family: 'MedievalSharp', cursive;
    font-weight: 400;
    color: #5C8DAD;
    font-size: 5rem;
    margin: 0;
    padding:.5rem;
}

h2 {
    font-family: 'Modern Antiqua', cursive;
    font-weight: 400;
    color: #faa00f;
    font-size: 3rem;
    margin: 0;
    padding:1rem;
    text-decoration: underline;
}

h3 {
    font-family: 'Modern Antiqua', cursive;
    font-weight: 400;
    color: #faa00f;
    font-size: 1.5rem;
    margin: 0;
    padding: .5em;
}

h3 {
    font-family: 'Modern Antiqua', cursive;
    font-weight: 400;
    color: #faa00f;
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem;
}

h4 {
    font-family: 'Modern Antiqua', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    color: #faa00f;
    font-size: 1rem;
    margin: 0;
    padding: .5rem;
}

p{
    font-family: 'Nova Cut', cursive;
    font-weight: 400;
    color: #FEFAEB;
    font-size: 1rem;
    padding-bottom:0.8rem;
}

li{
    list-style: none;
    font-family: 'Nova Flat', cursive;
    font-weight: 400;
    color: #FEFAEB;
    font-size: .8rem;
}

/* =================
Images
================= */

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* =================
Layout
================= */
 
.centered{
    align-content: center;
}



/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #FEFAEB;
    font-weight: 900;
    padding: .25em 0;
    font-family: 'Nova Flat', cursive;
    font-size: 1.5rem;
}

nav a:hover,
nav a:focus {
    color: #FAA00F;
}

nav a:active {
    background-color: #FAA00F;
    color:#FEFAEB;
}

#mediaDropDown,
#projectsDropDown {
    float: left;
    overflow: hidden;
    margin-top:-.5rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}

#mediaDropDown #mediaButton,
#projectsDropDown #projectsButton {
    color: #FEFAEB;
    margin: 0;
    padding: .3em;
    font-family: 'Nova Flat', cursive;
    font-weight: 900;
    font-size: inherit;
    border: inherit;
    background-color: inherit;
    cursor: pointer;
}

#mediaDropDown #mediaButton:hover,
#projectsDropDown #projectsButton:hover{
    color: #FAA00F;
}

#mediaDropDown #mediaButton:active,
#projectsDropDown #projectsButton:active {
    background-color: #FAA00F;
    color:#fefaeb;
}

#mediaDropDown:hover .dropdownContent,
#projectsDropDown:hover .dropdownContent {
    display: block;
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #FEFAEB;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdownContent a {
    float: none;
    color: black;
    padding: .75rem 1rem;
    text-decoration: none;
    display: block;
    text-align: right;
    cursor: pointer;
}
  
.dropdownContent a:hover {
    background-color: #FEFAEB;
}

.dropdownContent a:active {
    background-color: #FAA00F;
    color:#fefaeb;
}

#hamburgerMenu {
    position: absolute;
    background-color: #111;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6rem;
  }

  #hamburgerMenu a{
    padding:24px;
    font-size: 4rem;
  }


#socialLinks{margin:.1rem;text-align: center;}

#copyRight{text-align: center;}


/* =================
IDs
================= */

#titleText{
    font-family: 'Tangerine', cursive;
    color:#5C8DAD;
}

#hamburger-button{
    display:none;
}

#subtitleText {
    font-weight: 700;
    color: #FAA00F;
    font-size: 1.5rem;
    margin: 0;
    margin-top:-1.5rem;
}

#projects{
    text-align: center;
}

#contact{
    text-align: center;
}


/* =================
Media Queries
================= */

/*small phone portrait*/
@media screen and (max-width: 576px) and (orientation:portrait){
    h2{color:yellow;font-size: 2.5rem;}
    h1{font-size: 3rem;}
    .notBurger{display:none}
    #titleText{align-self: flex-start;}
    #subtitleText{display:none}
    #hamburger-button{display:block;margin:0 1rem;}
  
    main{
        height:70vh;
        max-height:70vh;
    }
    footer{
        font-size: .5rem;
    }
}

/*small phone landscape*/
@media screen and (max-height: 576px) and (orientation:landscape){
    h2{color:red;}

}

/*medium phone portrait*/
@media screen and (min-width: 577px) and (max-width: 767px) and (orientation:portrait){
    h2{color:black;}
}

/*medium phone landscape*/
@media screen and (min-height: 577px) and (max-height: 767px) and (orientation:landscape){
    h2{color:pink;}
}

/*tablet potrait*/
@media screen and (min-width: 768) and (max-width: 991) and (orientation:portrait){
    h2{color:orange;}
}

/*tablet landscape*/
@media screen and (min-height: 768) and (max-height: 991) and (orientation:landscape){
    h2{color:violet;}
}

/*laptop landscape*/
@media screen and (min-height: 992) and (max-height: 1199) and (orientation:landscape){
    h2{color:magenta;}
}

/*large device landscape*/
@media screen and (min-height: 1200) and (orientation:landscape){
    h2{color:white;}
}
