/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/
*{margin:0 auto;padding:0;}

body {
    margin: 0 auto;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #68500d;
    font-size: 2rem;
    margin: 0;
    padding:.5rem;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
    font-size: 1.5rem;
    margin: 0;
    padding: .4rem 1rem 0rem 1rem;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #cfcfcf;
    font-size: 1rem;
    padding: 0 1rem .5rem 1rem;
    line-height: 1.5;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: 1rem;
    margin: 0;
}


/* =================
Images
================= */

img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* =================
Layout
================= */
 
.container{
    width: 99%;
    margin: 0;
    padding:0;
   /* border: 1px solid magenta; */
}

.centered{
    align-content: center;
    text-align: center;
}

header {
    text-align: center;
    background: #f8f8f8;
}

/* navigation */

nav ul {
    list-style: none;
    padding: .5em;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

/* =================
Panels and Cards
================= */

.panel{
    background-color:#3c4043;
    padding: 01em;
    text-align: center;
}

.card{
    background-color: #4285f4;
    padding:0.2em;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
}

/* =================
Media Queries
================= */

/* Small devices (landscape phones, 375px to 720)*/
@media (min-width: 375px) and (max-width: 719px){
    .container{
        max-width: 100vw;
    }
    .container-nav{
        display: block;
    }

    nav li {
        margin: 0 1em;
    }

    .panel{
        display:block;
    }

    .card{
        max-width: 90%;
    }
}

/* Medium devices (tablets, 720px to 1024)*/
@media (min-width: 720px) and (max-width: 1023px){
    .container{
        max-width: 99%;
    }

    .container-nav{
        display: block;
    }

    nav li {
        margin: 0 1em;
    }

    .card{
        max-width: 90%;
    }

    .panel{
        display:block;
    }

}

/* Large devices (desktops, 1024px to 1920)*/
@media (min-width: 1024px) and (max-width: 1919px){
    .container{
        max-width: 99%;
    }

    .container-nav{
        display:flex;
        justify-content: space-between;
    }

    nav li {
        margin-left: 2em;
    }

    .card{
        width: 48%;
        justify-content: space-between;
        margin: .5em auto;
    }

    #projectCards{
        display:flex;
        flex-wrap: wrap;
    }
}

/* Extra large devices (large desktops, 1920px and up)*/
@media (min-width: 1920px) {
    
    .container{
        max-width: 1440px;
        margin:0 auto;
    }

    .container-nav{
        display:flex;
        justify-content: space-between;
    }

    .card{
        max-width: 24%;
        margin: auto;
        justify-content: space-between;
    }

    #projectCards{
        display:flex;
        flex-wrap: wrap;
    }
}

/* =================
IDs
================= */

#projects{
    text-align: center;
}

#contact{
    text-align: center;
}

#discord iframe{
    width:60%;
    height:60%;
    max-height:60vh; 
    min-width:350px; 
    min-height:200px;
}